---

import Head from '../layouts/Head.astro'
import Navigation from '../layouts/Navigation.astro'
import Footer from '../layouts/Footer.astro'

---


<html>
<body>

<Head></Head>
<Navigation/>

<div class="lg:pl-48 md:pl-12 py-12">

    <h1 class="font-bold text-2xl pt-2 pb-2">
    About adlichhammer UG (haftungsbeschränkt)
    </h1>

    <div class="font-serif text-lg">
        adlichhammer UG (haftungsbeschränkt)
        <br/>Ludwig-der-Bayer-Strasse 32
        <br/>84513 Töging
        <br/>Deutschland
    </div>

    <h2 class="font-bold text-xl pt-8 mb-4">
        Kontakt
    </h2>
    <div class="font-serif text-lg">
        E-Mail: support@adlichhammer.de
        <br/> Internet: www.adlichhammer.de
    </div>

</div>

<Footer/>
</body>
</html>