---

import Head from '../layouts/Head.astro'
import Navigation from '../layouts/Navigation.astro'
import Hero from '../layouts/Hero.astro'
import Qualification from '../layouts/Qualification.astro'
import Service from '../layouts/Service.astro'
import Footer from '../layouts/Footer.astro'



---

<html>
 
    <Head/>

  <body>

    <Navigation/>
    <Hero/>
    <Qualification/>
    <Service/>
    <Footer>


  </body>

</html>

