---
  
import LinkedIn from "../components/LinkedIn.astro"


---

<div class="bg-white pb-8 sm:pb-12 lg:pb-12">
  <div class="pt-8 overflow-hidden sm:pt-12 lg:relative lg:py-48">
    <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24">
      <div>

        <div class="mt-10">
     

          <div contenteditable="true" class="  text-grey-900 mt-6 sm:max-w-xl">

Andreas Adlichammer

          </div>
   
          <div class="mt-6 sm:max-w-xl">
            <h1  contenteditable="true" class="text-4xl font-extrabold text-gray-900 tracking-tight sm:text-5xl">

Digital <br/>Product Owner
            
            </h1>
            <p contenteditable="true"  class="mt-6 text-3xl font-serif text-gray-500">


Lets make the world a better place with your digital products.

            </p>
          </div>
          <form action="https://calendly.com/aahhammer/freeconsultation" class="mt-12 sm:max-w-lg sm:w-full sm:flex">
            <div class="mt-4 sm:mt-0 sm:ml-3">
    
           <button type="submit" class="block w-full rounded-md border border-transparent px-5 py-3 bg-blue-700 text-xl font-medium text-white shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:px-10">

Schedule a free consultation
              
              </button>

            </div>
          </form>
          <div class="mt-6">
            <div class="inline-flex items-center divide-x divide-gray-300">
              <div class=" text-xl text-gray-500 font-serif flex-shrink-0 flex pr-3">

Or visit me on 
  
            </div>
            <a href="https://www.linkedin.com/in/andreas-adlichhammer-431a9413a/">

<LinkedIn/>

            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="sm:mx-auto sm:max-w-3xl sm:px-6">
      <div class="py-12 sm:relative sm:mt-12 sm:py-16 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <div class="hidden sm:block">
          <div class="absolute inset-y-0 left-1/2 w-screen bg-blue-100  rounded-l-3xl lg:left-80 lg:right-0 lg:w-full"></div>
 <svg class="absolute top-8 right-1/2 -mr-3 lg:m-0 lg:left-0" width="402" height="392" fill="none" viewBox="0 0 404 392">
                <defs>
                        <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <ellipse cx="8" cy="8" rx="4" ry="4" class="text-orange-400" fill="currentColor" />
                        </pattern>
                        </defs>
            <rect width="404" height="392" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)" />
</svg>
        </div>
        <div class="relative pl-4 -mr-40 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:h-full lg:pl-12">
          <img class="w-full rounded-md shadow-xl ring-1 ring-black ring-opacity-5 lg:h-full lg:w-auto lg:max-w-none" src="/picture.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
</div>