---
  
import Checkmark from '../components/Checkmark.astro'

---

    <div class="bg-blue-100">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-24 lg:px-8 lg:grid lg:grid-cols-3 lg:gap-x-8">
    <div>
      <h2 class="text-base font-semibold text-blue-700 uppercase tracking-wide">

My qualifications

      </h2>
      <p class="mt-2 text-3xl font-extrabold text-gray-900">

Why would one need a Product Owner?

      </p>
      <p class="mt-4 font-serif text-xl text-gray-500"> 

Product Owners increase the value of your digital products by asking the right questions and find next most valuable steps.
We get commitment for these steps from all your stakeholders and bridge the communication gaps between business, technology and regulations.  
During execution, we keep an eye on your risks, learnings and, of course, the value.

       </p>
    </div>
    <div class="mt-12 lg:mt-0 lg:col-span-2">
      <dl class="space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:grid-rows-3 sm:grid-flow-col sm:gap-x-6 sm:gap-y-10 lg:gap-x-8">

        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <Checkmark/>

            <p class="ml-9 text-lg leading-6 font-medium text-gray-900">

Corporate & Startup

            </p>
          </dt>
          <dd class="mt-2 ml-9 font-serif text-lg text-gray-500">

Have been part of slow paced political cooperates and fast paced entrepreneur Startups. 
Its a myth that these cultures are mutually exclusive. 

          </dd>
        </div>

        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <Checkmark/>
            <p class="ml-9 text-lg leading-6 font-medium text-gray-900">

360° Stakeholder Inclusion

            </p>
          </dt>
          <dd class="mt-2 ml-9 font-serif text-lg text-gray-500">

No doubt, customer is king! But I will also make sure that e.g. your developers are happy and engaged. 
Qualified technical experts are hard to come by.

          </dd>
        </div>

        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <Checkmark/>
            <p class="ml-9 text-lg leading-6 font-medium text-gray-900">

Agile & Waterfall 

            </p>
          </dt>
          <dd class="mt-2 ml-9 font-serif text-lg text-gray-500">
          
Not every Scrum is agile and sometimes the waterfall needs to be obeyed. 
I will pragmatically adopt to your environment and leverage agile where appropriate.
          
          </dd>
        </div>


        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <Checkmark/>
            <p class="ml-9 text-lg leading-6 font-medium text-gray-900">

Technology Expert

            </p>
          </dt>
          <dd class="mt-2 ml-9 font-serif text-lg text-gray-500"> 

Ok, no blockchain or IoT, but quite a lot: Data, Machine Learning, Services/Serverless, (Web-)Apps, Cloud/Premise, DevOps, QA, 
... and I love to code myself.
            
            </dd>
        </div>

        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <Checkmark/>
            <p class="ml-9 text-lg leading-6 font-medium text-gray-900">

Product Analytics

            </p>
          </dt>
          <dd class="mt-2 ml-9 font-serif text-lg text-gray-500"> 

It has its benefits if you spent the first 8 years of your career as a business intelligence consultant. 
Let me dive into your data to objectify every product decision.

          </dd>
        </div>

        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <Checkmark/>
            <p class="ml-9 text-lg leading-6 font-medium text-gray-900">

Coaching & Education

            </p>
          </dt>
          <dd class="mt-2 ml-9 font-serif text-lg text-gray-500"> 

Life is a journey to learn and grow. That's especially true for the professional life.
  Also, I know how to provide cookie cutter tutoring, I prefer to train teams on the job.
           
            </dd>
        </div>

      </dl>
    </div>
  </div>
</div>