---

---


<div class="bg-white">
  <!-- Header -->
  <div class="relative pb-32 bg-white">
    <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
      <h1 class="text-4xl font-extrabold tracking-tight text-black md:text-5xl lg:text-6xl">
      
What is your challenge?
      
      </h1>
      <p class="mt-6 max-w-3xl font-serif text-2xl text-gray-800"> 
      
Creating a successful digital product is a complex and sometimes complicated endeavor. 
Complications can be overcome and dissolved, complexity stays and must be managed.
Sometimes even complex challenges can become more simple when approaching them with the correct perspective.

      </p>
    </div>
  </div>



  <!-- Overlapping cards -->
  <section class="-mt-32 max-w-7xl mx-auto relative z-10 pb-32 px-4 sm:px-6 lg:px-8" aria-labelledby="contact-heading">
    <h2 class="sr-only" id="contact-heading">
Contact me
    </h2>
    <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-3 lg:gap-y-0 lg:gap-x-8">
      <div class="flex flex-col bg-white rounded-2xl shadow-xl">
        <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
          <div class="absolute top-0 p-5 inline-block bg-blue-700 rounded-xl shadow-lg transform -translate-y-1/2">


            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-white" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 1.944A11.954 11.954 0 012.166 5C2.056 5.649 2 6.319 2 7c0 5.225 3.34 9.67 8 11.317C14.66 16.67 18 12.225 18 7c0-.682-.057-1.35-.166-2.001A11.954 11.954 0 0110 1.944zM11 14a1 1 0 11-2 0 1 1 0 012 0zm0-7a1 1 0 10-2 0v3a1 1 0 102 0V7z" clip-rule="evenodd" />
            </svg>

          </div>
          <h3 class="text-xl font-medium text-gray-900">
          
Overcome a problem
          
          </h3>
          <p class="mt-4 font-serif text-lg text-gray-500"> 

Your product does not progress as expected? <br/> Let me help you find and eliminate the root cause. 
We will clean up your product development lifecycle so you can progress afterwards again without pain.  
          
          </p>
        </div>
        <div class="p-6 bg-gray-50 rounded-bl-2xl rounded-br-2xl md:px-8">
          <a href="/contact" class="text-base font-medium text-blue-700 hover:text-blue-500">
Lets discuss your challenge
          
          <span aria-hidden="true"> &rarr;</span></a>
        </div>
      </div>


      <div class="flex flex-col bg-white rounded-2xl shadow-xl">
        <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
          <div class="absolute top-0 p-5 inline-block bg-blue-700 rounded-xl shadow-lg transform -translate-y-1/2">

            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-white" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
            </svg>

          </div>
          <h3 class="text-xl font-medium text-gray-900">

Fill a Short-Term Vacancy 

          </h3>
          <p class="mt-4 font-serif text-lg text-gray-500">

A lot of work and no one to take care of it? <br/>  Let me help you out for up to nine months.
If needed, we will search together for a long term replacement during this time. 
            
            </p>
        </div>
        <div class="p-6 bg-gray-50 rounded-bl-2xl rounded-br-2xl md:px-8">
          <a href="/contact" class="text-base font-medium text-blue-700 hover:text-blue-500">

Get your vacancy filled
    
          
          <span aria-hidden="true"> &rarr;</span>      </a>
        </div>
      </div>

      <div class="flex flex-col bg-white rounded-2xl shadow-xl">
        <div class="flex-1 relative pt-16 px-6 pb-8 md:px-8">
          <div class="absolute top-0 p-5 inline-block bg-blue-700 rounded-xl shadow-lg transform -translate-y-1/2">

            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-white" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5 2a1 1 0 011 1v1h1a1 1 0 010 2H6v1a1 1 0 01-2 0V6H3a1 1 0 010-2h1V3a1 1 0 011-1zm0 10a1 1 0 011 1v1h1a1 1 0 110 2H6v1a1 1 0 11-2 0v-1H3a1 1 0 110-2h1v-1a1 1 0 011-1zM12 2a1 1 0 01.967.744L14.146 7.2 17.5 9.134a1 1 0 010 1.732l-3.354 1.935-1.18 4.455a1 1 0 01-1.933 0L9.854 12.8 6.5 10.866a1 1 0 010-1.732l3.354-1.935 1.18-4.455A1 1 0 0112 2z" clip-rule="evenodd" />
            </svg>

          </div>
          <h3 class="text-xl font-medium text-gray-900"> 
          
Bring in new perspectives
          
          </h3>
          <p class="mt-4 font-serif text-lg text-gray-500">

Do you think there could be more to your product? <br/> I would love to hear about your product and your values. 
It's free because I'm curious too. And who knows what will come out of it.

            </p>
        </div>
        <div class="p-6 bg-gray-50 rounded-bl-2xl rounded-br-2xl md:px-8">
          <a href="/contact" class="text-base font-medium text-blue-700 hover:text-blue-500">
          
Switch your perspective

      
          
          <span aria-hidden="true"> &rarr;</span>    </a>
        </div>
      </div>
    </div>


  </section>

  
</div>
